body {
  margin: 4px;
  border: solid 1px #0000cc;
  display: flex;
  flex-direction: column;
  height: calc(680px - 2px);
  width: calc(1330px - 2px);
}
input {
  width: 55px;
  height: 40px;
  text-align: left;
}
.top__wrapper, 
.bottom__wrapper {
  width: 100%;
  /* height: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
#button_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#save,
#update {
  width: 40px;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  margin-bottom: 10px;
}
#data_table tbody,
#summary_table tbody {
  height: 50px;
  overflow: auto;
}
#summary_table tbody {
  height: 450px;
  overflow: auto;
}
#summary_table tbody td, tbody th {
  width: 60px;
}
#data_table thead tr th:nth-child(1),
#data_table tbody tr td:nth-child(1) {
  width: 110px;
}
#data_table tbody tr td:nth-child(1),
#summary_table tbody tr td:nth-child(1) {
  width: 110px;
  display: flex;
  flex-direction: column;
}
#summary_table thead tr th:nth-child(1),
#summary_table tbody tr td:nth-child(1) {
  display: none;
}
#data_table tbody tr td:nth-child(1) input,
#summary_table tbody tr td:nth-child(1) input {
  width: 104px;
  height: 20px;
}
#data_table thead tr th:nth-child(2),
#data_table tbody tr td:nth-child(2) {
  width: 120px;
}
#summary_table thead tr th:nth-child(2),
#summary_table tbody tr td:nth-child(2) {
  width: 110px;
}
#summary_table thead tr th:nth-child(3),
#summary_table tbody tr td:nth-child(3) {
  width: 120px;
}
#data_table tbody tr td:nth-child(2) select,
#summary_table tbody tr td:nth-child(2) select {
  width: 120px;
  height: 40px
}

#data_table thead td, thead th,
#summary_table thead td, thead th {
  background-color: #0000ff;
  border: solid 1px white;
  color: white;
  text-align: center;
  font-size: 9pt;
  font-weight: normal;
  width: 60px;
}